<div class="container">
  <div class="row text-center mt-5">
    <div class="col-12">
      <h1>Cleaning in life</h1>
    </div>
  </div>
    <div class="row text-center mt-3">
      <div class="col-12">
        <h5>~掃除に関するコミュニティサイト~</h5>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <h6>掃除に関する知識を投稿したり、他の人によって共有されたそれらの知識を閲覧できるコミュニティサービスです</h6>
      </div>
    </div>
</div>