<div class="container">
  <div class="row col-6">
    <div class="col ms-5 mt-5 text-center">
      <h2 class="border rounded border-dark">ユーザー一覧画面</h2>
    </div>
  </div>

  <div class="mt-5">
    <div class="row my-3 border-bottom">
      <div class="col-3 my-3">
        <p>ユーザーID</p>
      </div>
      <div class="col-5 my-3">
        <p>ユーザー名</p>
      </div>
    </div>
  <% @users.each do |user| %>
    <div class="row my-3 border-bottom">
      <div class="col-3 my-3">
        <%= user.id %>
      </div>
      <div class="col-5 my-3">
        <%= link_to admin_user_path(user.id), style: 'color: black;' do %>
          <%= user.name %>
        <% end %>
      </div>
      <div class="col my-3">
        <%= link_to "マイページへ", user_path(user.id), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <% paginate @users %>
  </div>
</div>
